# Wind ETL

In [1]:
# Initial Imports
import requests
import pandas as pd
import json
import numpy as np
from datetime import datetime
from datetime import timedelta

In [2]:
# Import API Key
from config import key

# Documentation:
#https://www.worldweatheronline.com/developer/my/analytics.aspx?key_id=222419

## Functions

In [3]:
# Make a request to the worldweatheronline local history weather API page
def makeARequest(location, startDate, endDate, yourAPIKey):
    baseURL = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
    timeInterval = "1"
    outputFormatToReturn = "json"

    requestURL = f"{baseURL}?q={location}&date={startDate}&enddate={endDate}&tp={timeInterval}&format={outputFormatToReturn}&key={yourAPIKey}"
    
    response = requests.get(requestURL)

    if response.status_code == 200:
        responseJson = response.json()
        return responseJson
    else:
        return print(response.status_code)

In [4]:
# Pull the wind variables from the responseJson 
def monthlyHistoricalWeather(firstDayOfMonth, lastDayOfMonth, jsonResponse):
    
    first = datetime.strptime(firstDayOfMonth, '%Y-%m-%d')
    last = datetime.strptime(lastDayOfMonth, '%Y-%m-%d')
    numberOfDays = last.day - first.day

    HourlyHistoricalWeather = []
    
    for day in np.arange(0,numberOfDays + 1,1):
        for hour in np.arange(0,24,1):
            HourlyHistoricalWeather.append({
                "Date" : jsonResponse["data"]["weather"][day]["date"],
                "Time" : jsonResponse["data"]["weather"][day]["hourly"][hour]["time"],
                "temperature(F)" : jsonResponse["data"]["weather"][0]["hourly"][0]["tempF"],
                "weatherDescription" : jsonResponse["data"]["weather"][0]["hourly"][0]["weatherDesc"][0]["value"],
                "WindSpeed(mph)" : jsonResponse["data"]["weather"][day]["hourly"][hour]["windspeedMiles"],
                "WindDirection(Degrees)" : jsonResponse["data"]["weather"][day]["hourly"][hour]["winddirDegree"],
                "WindDirection(Compass)" : jsonResponse["data"]["weather"][day]["hourly"][hour]["winddir16Point"],
                "WindGust(mph)" : jsonResponse["data"]["weather"][day]["hourly"][hour]["WindGustMiles"]
            })

    return HourlyHistoricalWeather

In [5]:
# Store the variables in a DataFrame
def monthlyHistoricalWeatherDF(month):
    weatherDataFrame = pd.DataFrame(month)
    return weatherDataFrame

## Extracting Weather Data

In [6]:
# Define the Latitude and longitude of Hackberry Wind Farm
    # https://www.thewindpower.net/windfarm_en_4012_hackberry.php
    # Latitude: 32.776111
    # Longitude: -99.476444
latLong = "32.776111,-99.476444"

In [7]:
# January
date = "2019-01-01"
enddate = "2019-01-31"

responseJson = makeARequest(latLong, date, enddate, key)

January = monthlyHistoricalWeather(date, enddate, responseJson)
JanuaryDF = monthlyHistoricalWeatherDF(January)
JanuaryDF.head()

,Date,Time,temperature(F),weatherDescription,WindSpeed(mph),WindDirection(Degrees),WindDirection(Compass),WindGust(mph)
0,2019-01-01,0,35,Clear,12,126,SE,24
1,2019-01-01,100,35,Clear,13,89,E,23
2,2019-01-01,200,35,Clear,14,53,NE,23
3,2019-01-01,300,35,Clear,15,17,NNE,22
4,2019-01-01,400,35,Clear,14,18,NNE,21

In [8]:
# February
date = "2019-02-01"
enddate = "2019-02-28"

responseJson = makeARequest(latLong, date, enddate, key)

February = monthlyHistoricalWeather(date, enddate, responseJson)
FebruaryDF = monthlyHistoricalWeatherDF(February)

In [9]:
# March
date = "2019-03-01"
enddate = "2019-03-31"

responseJson = makeARequest(latLong, date, enddate, key)

March = monthlyHistoricalWeather(date, enddate, responseJson)
MarchDF = monthlyHistoricalWeatherDF(March)

In [10]:
# April
date = "2019-04-01"
enddate = "2019-04-30"

responseJson = makeARequest(latLong, date, enddate, key)

April = monthlyHistoricalWeather(date, enddate, responseJson)
AprilDF = monthlyHistoricalWeatherDF(April)

In [11]:
# May
date = "2019-05-01"
enddate = "2019-05-31"

responseJson = makeARequest(latLong, date, enddate, key)

May = monthlyHistoricalWeather(date, enddate, responseJson)
MayDF = monthlyHistoricalWeatherDF(May)

In [12]:
# June
date = "2019-06-01"
enddate = "2019-06-30"

responseJson = makeARequest(latLong, date, enddate, key)

June = monthlyHistoricalWeather(date, enddate, responseJson)
JuneDF = monthlyHistoricalWeatherDF(June)

In [13]:
# July
date = "2019-07-01"
enddate = "2019-07-31"

responseJson = makeARequest(latLong, date, enddate, key)

July = monthlyHistoricalWeather(date, enddate, responseJson)
JulyDF = monthlyHistoricalWeatherDF(July)

In [14]:
# August
date = "2019-08-01"
enddate = "2019-08-31"

responseJson = makeARequest(latLong, date, enddate, key)

August = monthlyHistoricalWeather(date, enddate, responseJson)
AugustDF = monthlyHistoricalWeatherDF(August)

In [15]:
# September
date = "2019-09-01"
enddate = "2019-09-30"

responseJson = makeARequest(latLong, date, enddate, key)

September = monthlyHistoricalWeather(date, enddate, responseJson)
SeptemberDF = monthlyHistoricalWeatherDF(September)

In [16]:
# October
date = "2019-10-01"
enddate = "2019-10-31"

responseJson = makeARequest(latLong, date, enddate, key)

October = monthlyHistoricalWeather(date, enddate, responseJson)
OctoberDF = monthlyHistoricalWeatherDF(October)

In [17]:
# November
date = "2019-11-01"
enddate = "2019-11-30"

responseJson = makeARequest(latLong, date, enddate, key)

November = monthlyHistoricalWeather(date, enddate, responseJson)
NovemberDF = monthlyHistoricalWeatherDF(November)

In [18]:
# December
date = "2019-12-01"
enddate = "2019-12-31"

responseJson = makeARequest(latLong, date, enddate, key)

December = monthlyHistoricalWeather(date, enddate, responseJson)
DecemberDF = monthlyHistoricalWeatherDF(December)

In [19]:
# January
date = "2020-01-01"
enddate = "2020-01-31"

responseJson = makeARequest(latLong, date, enddate, key)

Jan2020 = monthlyHistoricalWeather(date, enddate, responseJson)
Jan2020DF = monthlyHistoricalWeatherDF(Jan2020)

In [20]:
# February
date = "2020-02-01"
enddate = "2020-02-29"

responseJson = makeARequest(latLong, date, enddate, key)

Feb2020 = monthlyHistoricalWeather(date, enddate, responseJson)
Feb2020DF = monthlyHistoricalWeatherDF(Feb2020)

In [21]:
# March
date = "2020-03-01"
enddate = "2020-03-31"

responseJson = makeARequest(latLong, date, enddate, key)

March2020 = monthlyHistoricalWeather(date, enddate, responseJson)
March2020DF = monthlyHistoricalWeatherDF(March2020)

In [22]:
# April
date = "2020-04-01"
enddate = "2020-04-30"

responseJson = makeARequest(latLong, date, enddate, key)

April2020 = monthlyHistoricalWeather(date, enddate, responseJson)
April2020DF = monthlyHistoricalWeatherDF(April2020)

In [23]:
# May
date = "2020-05-01"
enddate = "2020-05-31"

responseJson = makeARequest(latLong, date, enddate, key)

May2020 = monthlyHistoricalWeather(date, enddate, responseJson)
May2020DF = monthlyHistoricalWeatherDF(May2020)

In [24]:
# June
date = "2020-06-01"
enddate = "2020-06-30"

responseJson = makeARequest(latLong, date, enddate, key)

June2020 = monthlyHistoricalWeather(date, enddate, responseJson)
June2020DF = monthlyHistoricalWeatherDF(June2020)

In [25]:
# July
date = "2020-07-01"
enddate = "2020-07-31"

responseJson = makeARequest(latLong, date, enddate, key)

July2020 = monthlyHistoricalWeather(date, enddate, responseJson)
July2020DF = monthlyHistoricalWeatherDF(July2020)

In [26]:
# Combine each month into a single DataFrame
#hourlyWeatherDF2019 = JanuaryDF.append([FebruaryDF, MarchDF, AprilDF, MayDF, JuneDF, JulyDF, AugustDF, SeptemberDF, OctoberDF, NovemberDF, DecemberDF]) 
hourlyWeatherDF = JanuaryDF.append([FebruaryDF, MarchDF, AprilDF, MayDF, JuneDF, JulyDF, AugustDF, SeptemberDF, OctoberDF, NovemberDF, DecemberDF, Jan2020DF, Feb2020DF, March2020DF, April2020DF, May2020DF, June2020DF, July2020DF]) 
index = np.arange(0,24*578,1)
hourlyWeatherDF = hourlyWeatherDF.set_index(index)
hourlyWeatherDF

,Date,Time,temperature(F),weatherDescription,WindSpeed(mph),WindDirection(Degrees),WindDirection(Compass),WindGust(mph)
0,2019-01-01,0,35,Clear,12,126,SE,24
1,2019-01-01,100,35,Clear,13,89,E,23
2,2019-01-01,200,35,Clear,14,53,NE,23
3,2019-01-01,300,35,Clear,15,17,NNE,22
4,2019-01-01,400,35,Clear,14,18,NNE,21
...,...,...,...,...,...,...,...,...
13867,2020-07-31,1900,82,Patchy rain possible,8,104,ESE,11
13868,2020-07-31,2000,82,Patchy rain possible,8,78,ENE,12
13869,2020-07-31,2100,82,Patchy rain possible,7,52,NE,13
13870,2020-07-31,2200,82,Patchy rain possible,7,55,NE,13
13871,2020-07-31,2300,82,Patchy rain possible,7,58,ENE,14

In [27]:
hourlyWeatherDF.dtypes

Date                      object
Time                      object
temperature(F)            object
weatherDescription        object
WindSpeed(mph)            object
WindDirection(Degrees)    object
WindDirection(Compass)    object
WindGust(mph)             object
dtype: object

# Performing Transformation on Wind Weather Data

In [28]:
def cleaningDataFrame_datetime(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Time'] = df['Time'].astype(int)
    df['Time'] = (df['Time']/100).astype(int)
    df['Time'] = df['Time'].astype('timedelta64[h]')
    df['Time'] = df['Time'] - pd.to_timedelta(df['Time'].dt.days, unit='d')
    df['Date_Time'] = df['Date'] + df['Time']
    df = df.drop(['Time', 'Date'], 1)
    return df

In [29]:
def cleaningDataFrame_wind(df):
    df.rename(columns = {'temperature(F)':'temperature_F','WindSpeed(mph)':'WindSpeed_mph', 'WindDirection(Degrees)':'WindDirection_degrees',   'WindDirection(Compass)':'WindDirection_compass', 'WindGust(mph)':'WindGust_mph'}, inplace = True)
    df['temperature_F'] = df['temperature_F'].astype(int)
    df['weatherDescription'] = df['weatherDescription'].astype(str)
    df['WindSpeed_mph'] = df['WindSpeed_mph'].astype(int)
    df['WindDirection_degrees'] = df['WindDirection_degrees'].astype(int)
    df['WindGust_mph'] = df['WindGust_mph'].astype(int)
    #df = df.drop(df.index[0])
    return df

In [30]:
cleanDateTime_hourlyWeatherDF = cleaningDataFrame_datetime(hourlyWeatherDF)
cleanDateTime_hourlyWeatherDF.head()

,temperature(F),weatherDescription,WindSpeed(mph),WindDirection(Degrees),WindDirection(Compass),WindGust(mph),Date_Time
0,35,Clear,12,126,SE,24,2019-01-01 00:00:00
1,35,Clear,13,89,E,23,2019-01-01 01:00:00
2,35,Clear,14,53,NE,23,2019-01-01 02:00:00
3,35,Clear,15,17,NNE,22,2019-01-01 03:00:00
4,35,Clear,14,18,NNE,21,2019-01-01 04:00:00

In [31]:
cleaned_hourlyWeatherDF = cleaningDataFrame_wind(cleanDateTime_hourlyWeatherDF)
print(cleaned_hourlyWeatherDF.shape)
cleaned_hourlyWeatherDF.head()

(13872, 7)

,temperature_F,weatherDescription,WindSpeed_mph,WindDirection_degrees,WindDirection_compass,WindGust_mph,Date_Time
0,35,Clear,12,126,SE,24,2019-01-01 00:00:00
1,35,Clear,13,89,E,23,2019-01-01 01:00:00
2,35,Clear,14,53,NE,23,2019-01-01 02:00:00
3,35,Clear,15,17,NNE,22,2019-01-01 03:00:00
4,35,Clear,14,18,NNE,21,2019-01-01 04:00:00

In [32]:
cleaned_hourlyWeatherDF.dtypes

temperature_F                     int32
weatherDescription               object
WindSpeed_mph                     int32
WindDirection_degrees             int32
WindDirection_compass            object
WindGust_mph                      int32
Date_Time                datetime64[ns]
dtype: object

In [33]:
# Uncomment to upload data
#windDF.to_csv(r'Output/weather_wind.csv', index = False)

# Extracting and Transoforming the Hackberry Wind Energy Data

In [34]:
data = "Resources/Hackberry_Generation.csv"
Hackberry_df = pd.read_csv(data)
print(Hackberry_df.shape)
Hackberry_df.head()

(13871, 4)

        Unit      Date Hour Ending         MWH
0  HWF_HWFG1  20190101         100  110.487950
1  HWF_HWFG1  20190101         200   72.020225
2  HWF_HWFG1  20190101         300   67.639475
3  HWF_HWFG1  20190101         400   63.718900
4  HWF_HWFG1  20190101         500   61.264250

In [35]:
def cleanRenewableFarmData(df):
    '''
    This function cleans the raw farm data.
    '''
    df = df.drop('Unit', 1)
    df.rename(columns = {'Hour Ending':'Hour'}, inplace = True)
    df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')
    df['Hour'] = df['Hour'].astype(str).str[:-2].astype(np.int64)
    df['hour'] = pd.to_timedelta(df['Hour'], unit='h')
    df['hour'] = df['hour'] - pd.to_timedelta(df['hour'].dt.days, unit='d')
    df = df.drop('Hour', 1)
    df = df[["Date", "hour", "MWH"]]
    df['Date_Time'] = df['Date'] + df['hour']
    df = df[["Date_Time", "MWH"]]
    return df

In [36]:
cleaned_Hackberry_df = cleanRenewableFarmData(Hackberry_df)
print(cleaned_Hackberry_df.shape)
cleaned_Hackberry_df

(13871, 2)

                Date_Time         MWH
0     2019-01-01 01:00:00  110.487950
1     2019-01-01 02:00:00   72.020225
2     2019-01-01 03:00:00   67.639475
3     2019-01-01 04:00:00   63.718900
4     2019-01-01 05:00:00   61.264250
...                   ...         ...
13866 2020-07-31 20:00:00    4.998600
13867 2020-07-31 21:00:00   16.390275
13868 2020-07-31 22:00:00   20.637800
13869 2020-07-31 23:00:00   13.998975
13870 2020-07-31 00:00:00   12.494875

[13871 rows x 2 columns]

In [37]:
# check data types to make sure they are correct
cleaned_Hackberry_df.dtypes

Date_Time    datetime64[ns]
MWH                 float64
dtype: object

In [38]:
# Uncomment to upload
# cleaned_Hackberry_df.to_csv(r'Output/Hackberry_MWH.csv', index = False)

## Merging Hackberry Energy Data with Wind Weather Data

In [39]:
Hackberry_Wind_MWH = pd.merge(cleaned_hourlyWeatherDF, cleaned_Hackberry_df, on='Date_Time', how='outer')
Hackberry_Wind_MWH

,temperature_F,weatherDescription,WindSpeed_mph,WindDirection_degrees,WindDirection_compass,WindGust_mph,Date_Time,MWH
0,35,Clear,12,126,SE,24,2019-01-01 00:00:00,5.009100
1,35,Clear,13,89,E,23,2019-01-01 01:00:00,110.487950
2,35,Clear,14,53,NE,23,2019-01-01 02:00:00,72.020225
3,35,Clear,15,17,NNE,22,2019-01-01 03:00:00,67.639475
4,35,Clear,14,18,NNE,21,2019-01-01 04:00:00,63.718900
...,...,...,...,...,...,...,...,...
13868,82,Patchy rain possible,8,104,ESE,11,2020-07-31 19:00:00,10.764125
13869,82,Patchy rain possible,8,78,ENE,12,2020-07-31 20:00:00,4.998600
13870,82,Patchy rain possible,7,52,NE,13,2020-07-31 21:00:00,16.390275
13871,82,Patchy rain possible,7,55,NE,13,2020-07-31 22:00:00,20.637800
13872,82,Patchy rain possible,7,58,ENE,14,2020-07-31 23:00:00,13.998975

In [50]:
# Uncomment to upload csv
Hackberry_Wind_MWH.to_csv(r'Output/Hackberry_Wind_MWH.csv', index = False)

# Mongo

In [41]:
# import dependencies
import config
import pymongo
import pandas as pd
import json

In [42]:
# set string variables
DEFAULT_DATABASE = 'wind_solar_data' 
USERNAME = config.USERNAME
PASSWORD = config.PASSWORD

#create connection to database
client = pymongo.MongoClient(f"mongodb+srv://{USERNAME}:{PASSWORD}@austin-green-energy.pwzpm.mongodb.net/{DEFAULT_DATABASE}?retryWrites=true&w=majority")
try:
    client.server_info()
    print("Mongodb connected")
except:
    print("The Mongodb failed to connect. Check username/password in connection string.")

Mongodb connected

In [51]:
# Uploading the wind data to the Database

# select database
db = client.get_database('wind_solar_data')
# select collection
collection = db.wind_data

# pull the csv from file
wind_data = wind_data = pd.read_csv('.\Output\Hackberry_Wind_MWH.csv')  
# turn the CSV into a JSON
wind_data_json = json.loads(wind_data.to_json(orient='records'))

# remove what is in the collection cureently
collection.remove()
# insert the new JSON data into the database
collection.insert(wind_data_json)

f95bc0fb207a563b6c8528b'),
 ObjectId('5f95bc0fb207a563b6c8528c'),
 ObjectId('5f95bc0fb207a563b6c8528d'),
 ObjectId('5f95bc0fb207a563b6c8528e'),
 ObjectId('5f95bc0fb207a563b6c8528f'),
 ObjectId('5f95bc0fb207a563b6c85290'),
 ObjectId('5f95bc0fb207a563b6c85291'),
 ObjectId('5f95bc0fb207a563b6c85292'),
 ObjectId('5f95bc0fb207a563b6c85293'),
 ObjectId('5f95bc0fb207a563b6c85294'),
 ObjectId('5f95bc0fb207a563b6c85295'),
 ObjectId('5f95bc0fb207a563b6c85296'),
 ObjectId('5f95bc0fb207a563b6c85297'),
 ObjectId('5f95bc0fb207a563b6c85298'),
 ObjectId('5f95bc0fb207a563b6c85299'),
 ObjectId('5f95bc0fb207a563b6c8529a'),
 ObjectId('5f95bc0fb207a563b6c8529b'),
 ObjectId('5f95bc0fb207a563b6c8529c'),
 ObjectId('5f95bc0fb207a563b6c8529d'),
 ObjectId('5f95bc0fb207a563b6c8529e'),
 ObjectId('5f95bc0fb207a563b6c8529f'),
 ObjectId('5f95bc0fb207a563b6c852a0'),
 ObjectId('5f95bc0fb207a563b6c852a1'),
 ObjectId('5f95bc0fb207a563b6c852a2'),
 ObjectId('5f95bc0fb207a563b6c852a3'),
 ObjectId('5f95bc0fb207a563b6c852a4'),
 ObjectId('5f95bc0fb207a563b6c852a5'),
 ObjectId('5f95bc0fb207a563b6c852a6'),
 ObjectId('5f95bc0fb207a563b6c852a7'),
 ObjectId('5f95bc0fb207a563b6c852a8'),
 ObjectId('5f95bc0fb207a563b6c852a9'),
 ObjectId('5f95bc0fb207a563b6c852aa'),
 ObjectId('5f95bc0fb207a563b6c852ab'),
 ObjectId('5f95bc0fb207a563b6c852ac'),
 ObjectId('5f95bc0fb207a563b6c852ad'),
 ObjectId('5f95bc0fb207a563b6c852ae'),
 ObjectId('5f95bc0fb207a563b6c852af'),
 ObjectId('5f95bc0fb207a563b6c852b0'),
 ObjectId('5f95bc0fb207a563b6c852b1'),
 ObjectId('5f95bc0fb207a563b6c852b2'),
 ObjectId('5f95bc0fb207a563b6c852b3'),
 ObjectId('5f95bc0fb207a563b6c852b4'),
 ObjectId('5f95bc0fb207a563b6c852b5'),
 ObjectId('5f95bc0fb207a563b6c852b6'),
 ObjectId('5f95bc0fb207a563b6c852b7'),
 ObjectId('5f95bc0fb207a563b6c852b8'),
 ObjectId('5f95bc0fb207a563b6c852b9'),
 ObjectId('5f95bc0fb207a563b6c852ba'),
 ObjectId('5f95bc0fb207a563b6c852bb'),
 ObjectId('5f95bc0fb207a563b6c852bc'),
 ObjectId('5f95bc0fb207a563b6c852bd'),
 ObjectId('5f95bc0fb207a563b6c852be'),
 ObjectId('5f95bc0fb207a563b6c852bf'),
 ObjectId('5f95bc0fb207a563b6c852c0'),
 ObjectId('5f95bc0fb207a563b6c852c1'),
 ObjectId('5f95bc0fb207a563b6c852c2'),
 ObjectId('5f95bc0fb207a563b6c852c3'),
 ObjectId('5f95bc0fb207a563b6c852c4'),
 ObjectId('5f95bc0fb207a563b6c852c5'),
 ObjectId('5f95bc0fb207a563b6c852c6'),
 ObjectId('5f95bc0fb207a563b6c852c7'),
 ObjectId('5f95bc0fb207a563b6c852c8'),
 ObjectId('5f95bc0fb207a563b6c852c9'),
 ObjectId('5f95bc0fb207a563b6c852ca'),
 ObjectId('5f95bc0fb207a563b6c852cb'),
 ObjectId('5f95bc0fb207a563b6c852cc'),
 ObjectId('5f95bc0fb207a563b6c852cd'),
 ObjectId('5f95bc0fb207a563b6c852ce'),
 ObjectId('5f95bc0fb207a563b6c852cf'),
 ObjectId('5f95bc0fb207a563b6c852d0'),
 ObjectId('5f95bc0fb207a563b6c852d1'),
 ObjectId('5f95bc0fb207a563b6c852d2'),
 ObjectId('5f95bc0fb207a563b6c852d3'),
 ObjectId('5f95bc0fb207a563b6c852d4'),
 ObjectId('5f95bc0fb207a563b6c852d5'),
 ObjectId('5f95bc0fb207a563b6c852d6'),
 ObjectId('5f95bc0fb207a563b6c852d7'),
 ObjectId('5f95bc0fb207a563b6c852d8'),
 ObjectId('5f95bc0fb207a563b6c852d9'),
 ObjectId('5f95bc0fb207a563b6c852da'),
 ObjectId('5f95bc0fb207a563b6c852db'),
 ObjectId('5f95bc0fb207a563b6c852dc'),
 ObjectId('5f95bc0fb207a563b6c852dd'),
 ObjectId('5f95bc0fb207a563b6c852de'),
 ObjectId('5f95bc0fb207a563b6c852df'),
 ObjectId('5f95bc0fb207a563b6c852e0'),
 ObjectId('5f95bc0fb207a563b6c852e1'),
 ObjectId('5f95bc0fb207a563b6c852e2'),
 ObjectId('5f95bc0fb207a563b6c852e3'),
 ObjectId('5f95bc0fb207a563b6c852e4'),
 ObjectId('5f95bc0fb207a563b6c852e5'),
 ObjectId('5f95bc0fb207a563b6c852e6'),
 ObjectId('5f95bc0fb207a563b6c852e7'),
 ObjectId('5f95bc0fb207a563b6c852e8'),
 ObjectId('5f95bc0fb207a563b6c852e9'),
 ObjectId('5f95bc0fb207a563b6c852ea'),
 ObjectId('5f95bc0fb207a563b6c852eb'),
 ObjectId('5f95bc0fb207a563b6c852ec'),
 ObjectId('5f95bc0fb207a563b6c852ed'),
 ObjectId('5f95bc0fb207a563b6c852ee'),
 ObjectId('5f95bc0fb207a563b6c852ef'),
 ObjectId('5f95bc0fb207a563b6c852f0'),
 ObjectId('5f95bc0fb207a563b6c852f1'),
 ObjectId('5f95bc0fb207a563b6c852f2'),
 ObjectId('5f95bc0fb207a563b6c852f3'),
 ObjectId('5f95bc0fb207a563b6c852f4'),
 ObjectId('5f95bc0fb207a563b6c852f5'),
 ObjectId('5f95bc0fb207a563b6c852f6'),
 ObjectId('5f95bc0fb207a563b6c852f7'),
 ObjectId('5f95bc0fb207a563b6c852f8'),
 ObjectId('5f95bc0fb207a563b6c852f9'),
 ObjectId('5f95bc0fb207a563b6c852fa'),
 ObjectId('5f95bc0fb207a563b6c852fb'),
 ObjectId('5f95bc0fb207a563b6c852fc'),
 ObjectId('5f95bc0fb207a563b6c852fd'),
 ObjectId('5f95bc0fb207a563b6c852fe'),
 ObjectId('5f95bc0fb207a563b6c852ff'),
 ObjectId('5f95bc0fb207a563b6c85300'),
 ObjectId('5f95bc0fb207a563b6c85301'),
 ObjectId('5f95bc0fb207a563b6c85302'),
 ObjectId('5f95bc0fb207a563b6c85303'),
 ObjectId('5f95bc0fb207a563b6c85304'),
 ObjectId('5f95bc0fb207a563b6c85305'),
 ObjectId('5f95bc0fb207a563b6c85306'),
 ObjectId('5f95bc0fb207a563b6c85307'),
 ObjectId('5f95bc0fb207a563b6c85308'),
 ObjectId('5f95bc0fb207a563b6c85309'),
 ObjectId('5f95bc0fb207a563b6c8530a'),
 ObjectId('5f95bc0fb207a563b6c8530b'),
 ObjectId('5f95bc0fb207a563b6c8530c'),
 ObjectId('5f95bc0fb207a563b6c8530d'),
 ObjectId('5f95bc0fb207a563b6c8530e'),
 ObjectId('5f95bc0fb207a563b6c8530f'),
 ObjectId('5f95bc0fb207a563b6c85310'),
 ObjectId('5f95bc0fb207a563b6c85311'),
 ObjectId('5f95bc0fb207a563b6c85312'),
 ObjectId('5f95bc0fb207a563b6c85313'),
 ObjectId('5f95bc0fb207a563b6c85314'),
 ObjectId('5f95bc0fb207a563b6c85315'),
 ObjectId('5f95bc0fb207a563b6c85316'),
 ObjectId('5f95bc0fb207a563b6c85317'),
 ObjectId('5f95bc0fb207a563b6c85318'),
 ObjectId('5f95bc0fb207a563b6c85319'),
 ObjectId('5f95bc0fb207a563b6c8531a'),
 ObjectId('5f95bc0fb207a563b6c8531b'),
 ObjectId('5f95bc0fb207a563b6c8531c'),
 ObjectId('5f95bc0fb207a563b6c8531d'),
 ObjectId('5f95bc0fb207a563b6c8531e'),
 ObjectId('5f95bc0fb207a563b6c8531f'),
 ObjectId('5f95bc0fb207a563b6c85320'),
 ObjectId('5f95bc0fb207a563b6c85321'),
 ObjectId('5f95bc0fb207a563b6c85322'),
 ObjectId('5f95bc0fb207a563b6c85323'),
 ObjectId('5f95bc0fb207a563b6c85324'),
 ObjectId('5f95bc0fb207a563b6c85325'),
 ObjectId('5f95bc0fb207a563b6c85326'),
 ObjectId('5f95bc0fb207a563b6c85327'),
 ObjectId('5f95bc0fb207a563b6c85328'),
 ObjectId('5f95bc0fb207a563b6c85329'),
 ObjectId('5f95bc0fb207a563b6c8532a'),
 ObjectId('5f95bc0fb207a563b6c8532b'),
 ObjectId('5f95bc0fb207a563b6c8532c'),
 ObjectId('5f95bc0fb207a563b6c8532d'),
 ObjectId('5f95bc0fb207a563b6c8532e'),
 ObjectId('5f95bc0fb207a563b6c8532f'),
 ObjectId('5f95bc0fb207a563b6c85330'),
 ObjectId('5f95bc0fb207a563b6c85331'),
 ObjectId('5f95bc0fb207a563b6c85332'),
 ObjectId('5f95bc0fb207a563b6c85333'),
 ObjectId('5f95bc0fb207a563b6c85334'),
 ObjectId('5f95bc0fb207a563b6c85335'),
 ObjectId('5f95bc0fb207a563b6c85336'),
 ObjectId('5f95bc0fb207a563b6c85337'),
 ObjectId('5f95bc0fb207a563b6c85338'),
 ObjectId('5f95bc0fb207a563b6c85339'),
 ObjectId('5f95bc0fb207a563b6c8533a'),
 ObjectId('5f95bc0fb207a563b6c8533b'),
 ObjectId('5f95bc0fb207a563b6c8533c'),
 ObjectId('5f95bc0fb207a563b6c8533d'),
 ObjectId('5f95bc0fb207a563b6c8533e'),
 ObjectId('5f95bc0fb207a563b6c8533f'),
 ObjectId('5f95bc0fb207a563b6c85340'),
 ObjectId('5f95bc0fb207a563b6c85341'),
 ObjectId('5f95bc0fb207a563b6c85342'),
 ObjectId('5f95bc0fb207a563b6c85343'),
 ObjectId('5f95bc0fb207a563b6c85344'),
 ObjectId('5f95bc0fb207a563b6c85345'),
 ObjectId('5f95bc0fb207a563b6c85346'),
 ObjectId('5f95bc0fb207a563b6c85347'),
 ObjectId('5f95bc0fb207a563b6c85348'),
 ObjectId('5f95bc0fb207a563b6c85349'),
 ObjectId('5f95bc0fb207a563b6c8534a'),
 ObjectId('5f95bc0fb207a563b6c8534b'),
 ObjectId('5f95bc0fb207a563b6c8534c'),
 ObjectId('5f95bc0fb207a563b6c8534d'),
 ObjectId('5f95bc0fb207a563b6c8534e'),
 ObjectId('5f95bc0fb207a563b6c8534f'),
 ObjectId('5f95bc0fb207a563b6c85350'),
 ObjectId('5f95bc0fb207a563b6c85351'),
 ObjectId('5f95bc0fb207a563b6c85352'),
 ObjectId('5f95bc0fb207a563b6c85353'),
 ObjectId('5f95bc0fb207a563b6c85354'),
 ObjectId('5f95bc0fb207a563b6c85355'),
 ObjectId('5f95bc0fb207a563b6c85356'),
 ObjectId('5f95bc0fb207a563b6c85357'),
 ObjectId('5f95bc0fb207a563b6c85358'),
 ObjectId('5f95bc0fb207a563b6c85359'),
 ObjectId('5f95bc0fb207a563b6c8535a'),
 ObjectId('5f95bc0fb207a563b6c8535b'),
 ObjectId('5f95bc0fb207a563b6c8535c'),
 ObjectId('5f95bc0fb207a563b6c8535d'),
 ObjectId('5f95bc0fb207a563b6c8535e'),
 ObjectId('5f95bc0fb207a563b6c8535f'),
 ObjectId('5f95bc0fb207a563b6c85360'),
 ObjectId('5f95bc0fb207a563b6c85361'),
 ObjectId('5f95bc0fb207a563b6c85362'),
 ObjectId('5f95bc0fb207a563b6c85363'),
 ObjectId('5f95bc0fb207a563b6c85364'),
 ObjectId('5f95bc0fb207a563b6c85365'),
 ObjectId('5f95bc0fb207a563b6c85366'),
 ObjectId('5f95bc0fb207a563b6c85367'),
 ObjectId('5f95bc0fb207a563b6c85368'),
 ObjectId('5f95bc0fb207a563b6c85369'),
 ObjectId('5f95bc0fb207a563b6c8536a'),
 ObjectId('5f95bc0fb207a563b6c8536b'),
 ObjectId('5f95bc0fb207a563b6c8536c'),
 ObjectId('5f95bc0fb207a563b6c8536d'),
 ObjectId('5f95bc0fb207a563b6c8536e'),
 ObjectId('5f95bc0fb207a563b6c8536f'),
 ObjectId('5f95bc0fb207a563b6c85370'),
 ObjectId('5f95bc0fb207a563b6c85371'),
 ObjectId('5f95bc0fb207a563b6c85372'),
 ObjectId('5f95bc0fb207a563b6c85373'),
 ObjectId('5f95bc0fb207a563b6c85374'),
 ObjectId('5f95bc0fb207a563b6c85375'),
 ObjectId('5f95bc0fb207a563b6c85376'),
 ObjectId('5f95bc0fb207a563b6c85377'),
 ObjectId('5f95bc0fb207a563b6c85378'),
 ObjectId('5f95bc0fb207a563b6c85379'),
 ObjectId('5f95bc0fb207a563b6c8537a'),
 ObjectId('5f95bc0fb207a563b6c8537b'),
 ObjectId('5f95bc0fb207a563b6c8537c'),
 ObjectId('5f95bc0fb207a563b6c8537d'),
 ObjectId('5f95bc0fb207a563b6c8537e'),
 ObjectId('5f95bc0fb207a563b6c8537f'),
 ObjectId('5f95bc0fb207a563b6c85380'),
 ObjectId('5f95bc0fb207a563b6c85381'),
 ObjectId('5f95bc0fb207a563b6c85382'),
 ObjectId('5f95bc0fb207a563b6c85383'),
 ObjectId('5f95bc0fb207a563b6c85384'),
 ObjectId('5f95bc0fb207a563b6c85385'),
 ObjectId('5f95bc0fb207a563b6c85386'),
 ObjectId('5f95bc0fb207a563b6c85387'),
 ObjectId('5f95bc0fb207a563b6c85388'),
 ObjectId('5f95bc0fb207a563b6c85389'),
 ObjectId('5f95bc0fb207a563b6c8538a'),
 ObjectId('5f95bc0fb207a563b6c8538b'),
 ObjectId('5f95bc0fb207a563b6c8538c'),
 ObjectId('5f95bc0fb207a563b6c8538d'),
 ObjectId('5f95bc0fb207a563b6c8538e'),
 ObjectId('5f95bc0fb207a563b6c8538f'),
 ObjectId('5f95bc0fb207a563b6c85390'),
 ObjectId('5f95bc0fb207a563b6c85391'),
 ObjectId('5f95bc0fb207a563b6c85392'),
 ObjectId('5f95bc0fb207a563b6c85393'),
 ObjectId('5f95bc0fb207a563b6c85394'),
 ObjectId('5f95bc0fb207a563b6c85395'),
 ObjectId('5f95bc0fb207a563b6c85396'),
 ObjectId('5f95bc0fb207a563b6c85397'),
 ObjectId('5f95bc0fb207a563b6c85398'),
 ObjectId('5f95bc0fb207a563b6c85399'),
 ObjectId('5f95bc0fb207a563b6c8539a'),
 ObjectId('5f95bc0fb207a563b6c8539b'),
 ObjectId('5f95bc0fb207a563b6c8539c'),
 ObjectId('5f95bc0fb207a563b6c8539d'),
 ObjectId('5f95bc0fb207a563b6c8539e'),
 ObjectId('5f95bc0fb207a563b6c8539f'),
 ObjectId('5f95bc0fb207a563b6c853a0'),
 ObjectId('5f95bc0fb207a563b6c853a1'),
 ObjectId('5f95bc0fb207a563b6c853a2'),
 ObjectId('5f95bc0fb207a563b6c853a3'),
 ObjectId('5f95bc0fb207a563b6c853a4'),
 ObjectId('5f95bc0fb207a563b6c853a5'),
 ObjectId('5f95bc0fb207a563b6c853a6'),
 ObjectId('5f95bc0fb207a563b6c853a7'),
 ObjectId('5f95bc0fb207a563b6c853a8'),
 ObjectId('5f95bc0fb207a563b6c853a9'),
 ObjectId('5f95bc0fb207a563b6c853aa'),
 ObjectId('5f95bc0fb207a563b6c853ab'),
 ObjectId('5f95bc0fb207a563b6c853ac'),
 ObjectId('5f95bc0fb207a563b6c853ad'),
 ObjectId('5f95bc0fb207a563b6c853ae'),
 ObjectId('5f95bc0fb207a563b6c853af'),
 ObjectId('5f95bc0fb207a563b6c853b0'),
 ObjectId('5f95bc0fb207a563b6c853b1'),
 ObjectId('5f95bc0fb207a563b6c853b2'),
 ObjectId('5f95bc0fb207a563b6c853b3'),
 ObjectId('5f95bc0fb207a563b6c853b4'),
 ObjectId('5f95bc0fb207a563b6c853b5'),
 ObjectId('5f95bc0fb207a563b6c853b6'),
 ObjectId('5f95bc0fb207a563b6c853b7'),
 ObjectId('5f95bc0fb207a563b6c853b8'),
 ObjectId('5f95bc0fb207a563b6c853b9'),
 ObjectId('5f95bc0fb207a563b6c853ba'),
 ObjectId('5f95bc0fb207a563b6c853bb'),
 ObjectId('5f95bc0fb207a563b6c853bc'),
 ObjectId('5f95bc0fb207a563b6c853bd'),
 ObjectId('5f95bc0fb207a563b6c853be'),
 ObjectId('5f95bc0fb207a563b6c853bf'),
 ObjectId('5f95bc0fb207a563b6c853c0'),
 ObjectId('5f95bc0fb207a563b6c853c1'),
 ObjectId('5f95bc0fb207a563b6c853c2'),
 ObjectId('5f95bc0fb207a563b6c853c3'),
 ObjectId('5f95bc0fb207a563b6c853c4'),
 ObjectId('5f95bc0fb207a563b6c853c5'),
 ObjectId('5f95bc0fb207a563b6c853c6'),
 ObjectId('5f95bc0fb207a563b6c853c7'),
 ObjectId('5f95bc0fb207a563b6c853c8'),
 ObjectId('5f95bc0fb207a563b6c853c9'),
 ObjectId('5f95bc0fb207a563b6c853ca'),
 ObjectId('5f95bc0fb207a563b6c853cb'),
 ObjectId('5f95bc0fb207a563b6c853cc'),
 ObjectId('5f95bc0fb207a563b6c853cd'),
 ObjectId('5f95bc0fb207a563b6c853ce'),
 ObjectId('5f95bc0fb207a563b6c853cf'),
 ObjectId('5f95bc0fb207a563b6c853d0'),
 ObjectId('5f95bc0fb207a563b6c853d1'),
 ObjectId('5f95bc0fb207a563b6c853d2'),
 ObjectId('5f95bc0fb207a563b6c853d3'),
 ObjectId('5f95bc0fb207a563b6c853d4'),
 ObjectId('5f95bc0fb207a563b6c853d5'),
 ObjectId('5f95bc0fb207a563b6c853d6'),
 ObjectId('5f95bc0fb207a563b6c853d7'),
 ObjectId('5f95bc0fb207a563b6c853d8'),
 ObjectId('5f95bc0fb207a563b6c853d9'),
 ObjectId('5f95bc0fb207a563b6c853da'),
 ObjectId('5f95bc0fb207a563b6c853db'),
 ObjectId('5f95bc0fb207a563b6c853dc'),
 ObjectId('5f95bc0fb207a563b6c853dd'),
 ObjectId('5f95bc0fb207a563b6c853de'),
 ObjectId('5f95bc0fb207a563b6c853df'),
 ObjectId('5f95bc0fb207a563b6c853e0'),
 ObjectId('5f95bc0fb207a563b6c853e1'),
 ObjectId('5f95bc0fb207a563b6c853e2'),
 ObjectId('5f95bc0fb207a563b6c853e3'),
 ObjectId('5f95bc0fb207a563b6c853e4'),
 ObjectId('5f95bc0fb207a563b6c853e5'),
 ObjectId('5f95bc0fb207a563b6c853e6'),
 ObjectId('5f95bc0fb207a563b6c853e7'),
 ObjectId('5f95bc0fb207a563b6c853e8'),
 ObjectId('5f95bc0fb207a563b6c853e9'),
 ObjectId('5f95bc0fb207a563b6c853ea'),
 ObjectId('5f95bc0fb207a563b6c853eb'),
 ObjectId('5f95bc0fb207a563b6c853ec'),
 ObjectId('5f95bc0fb207a563b6c853ed'),
 ObjectId('5f95bc0fb207a563b6c853ee'),
 ObjectId('5f95bc0fb207a563b6c853ef'),
 ObjectId('5f95bc0fb207a563b6c853f0'),
 ObjectId('5f95bc0fb207a563b6c853f1'),
 ObjectId('5f95bc0fb207a563b6c853f2'),
 ObjectId('5f95bc0fb207a563b6c853f3'),
 ObjectId('5f95bc0fb207a563b6c853f4'),
 ObjectId('5f95bc0fb207a563b6c853f5'),
 ObjectId('5f95bc0fb207a563b6c853f6'),
 ObjectId('5f95bc0fb207a563b6c853f7'),
 ObjectId('5f95bc0fb207a563b6c853f8'),
 ObjectId('5f95bc0fb207a563b6c853f9'),
 ObjectId('5f95bc0fb207a563b6c853fa'),
 ObjectId('5f95bc0fb207a563b6c853fb'),
 ObjectId('5f95bc0fb207a563b6c853fc'),
 ObjectId('5f95bc0fb207a563b6c853fd'),
 ObjectId('5f95bc0fb207a563b6c853fe'),
 ObjectId('5f95bc0fb207a563b6c853ff'),
 ObjectId('5f95bc0fb207a563b6c85400'),
 ObjectId('5f95bc0fb207a563b6c85401'),
 ObjectId('5f95bc0fb207a563b6c85402'),
 ObjectId('5f95bc0fb207a563b6c85403'),
 ObjectId('5f95bc0fb207a563b6c85404'),
 ObjectId('5f95bc0fb207a563b6c85405'),
 ObjectId('5f95bc0fb207a563b6c85406'),
 ObjectId('5f95bc0fb207a563b6c85407'),
 ObjectId('5f95bc0fb207a563b6c85408'),
 ObjectId('5f95bc0fb207a563b6c85409'),
 ObjectId('5f95bc0fb207a563b6c8540a'),
 ObjectId('5f95bc0fb207a563b6c8540b'),
 ObjectId('5f95bc0fb207a563b6c8540c'),
 ObjectId('5f95bc0fb207a563b6c8540d'),
 ObjectId('5f95bc0fb207a563b6c8540e'),
 ObjectId('5f95bc0fb207a563b6c8540f'),
 ObjectId('5f95bc0fb207a563b6c85410'),
 ObjectId('5f95bc0fb207a563b6c85411'),
 ObjectId('5f95bc0fb207a563b6c85412'),
 ObjectId('5f95bc0fb207a563b6c85413'),
 ObjectId('5f95bc0fb207a563b6c85414'),
 ObjectId('5f95bc0fb207a563b6c85415'),
 ObjectId('5f95bc0fb207a563b6c85416'),
 ObjectId('5f95bc0fb207a563b6c85417'),
 ObjectId('5f95bc0fb207a563b6c85418'),
 ObjectId('5f95bc0fb207a563b6c85419'),
 ObjectId('5f95bc0fb207a563b6c8541a'),
 ObjectId('5f95bc0fb207a563b6c8541b'),
 ObjectId('5f95bc0fb207a563b6c8541c'),
 ObjectId('5f95bc0fb207a563b6c8541d'),
 ObjectId('5f95bc0fb207a563b6c8541e'),
 ObjectId('5f95bc0fb207a563b6c8541f'),
 ObjectId('5f95bc0fb207a563b6c85420'),
 ObjectId('5f95bc0fb207a563b6c85421'),
 ObjectId('5f95bc0fb207a563b6c85422'),
 ObjectId('5f95bc0fb207a563b6c85423'),
 ObjectId('5f95bc0fb207a563b6c85424'),
 ObjectId('5f95bc0fb207a563b6c85425'),
 ObjectId('5f95bc0fb207a563b6c85426'),
 ObjectId('5f95bc0fb207a563b6c85427'),
 ObjectId('5f95bc0fb207a563b6c85428'),
 ObjectId('5f95bc0fb207a563b6c85429'),
 ObjectId('5f95bc0fb207a563b6c8542a'),
 ObjectId('5f95bc0fb207a563b6c8542b'),
 ObjectId('5f95bc0fb207a563b6c8542c'),
 ObjectId('5f95bc0fb207a563b6c8542d'),
 ObjectId('5f95bc0fb207a563b6c8542e'),
 ObjectId('5f95bc0fb207a563b6c8542f'),
 ObjectId('5f95bc0fb207a563b6c85430'),
 ObjectId('5f95bc0fb207a563b6c85431'),
 ObjectId('5f95bc0fb207a563b6c85432'),
 ObjectId('5f95bc0fb207a563b6c85433'),
 ObjectId('5f95bc0fb207a563b6c85434'),
 ObjectId('5f95bc0fb207a563b6c85435'),
 ObjectId('5f95bc0fb207a563b6c85436'),
 ObjectId('5f95bc0fb207a563b6c85437'),
 ObjectId('5f95bc0fb207a563b6c85438'),
 ObjectId('5f95bc0fb207a563b6c85439'),
 ObjectId('5f95bc0fb207a563b6c8543a'),
 ObjectId('5f95bc0fb207a563b6c8543b'),
 ObjectId('5f95bc0fb207a563b6c8543c'),
 ObjectId('5f95bc0fb207a563b6c8543d'),
 ObjectId('5f95bc0fb207a563b6c8543e'),
 ObjectId('5f95bc0fb207a563b6c8543f'),
 ObjectId('5f95bc0fb207a563b6c85440'),
 ObjectId('5f95bc0fb207a563b6c85441'),
 ObjectId('5f95bc0fb207a563b6c85442'),
 ObjectId('5f95bc0fb207a563b6c85443'),
 ObjectId('5f95bc0fb207a563b6c85444'),
 ObjectId('5f95bc0fb207a563b6c85445'),
 ObjectId('5f95bc0fb207a563b6c85446'),
 ObjectId('5f95bc0fb207a563b6c85447'),
 ObjectId('5f95bc0fb207a563b6c85448'),
 ObjectId('5f95bc0fb207a563b6c85449'),
 ObjectId('5f95bc0fb207a563b6c8544a'),
 ObjectId('5f95bc0fb207a563b6c8544b'),
 ObjectId('5f95bc0fb207a563b6c8544c'),
 ObjectId('5f95bc0fb207a563b6c8544d'),
 ObjectId('5f95bc0fb207a563b6c8544e'),
 ObjectId('5f95bc0fb207a563b6c8544f'),
 ObjectId('5f95bc0fb207a563b6c85450'),
 ObjectId('5f95bc0fb207a563b6c85451'),
 ObjectId('5f95bc0fb207a563b6c85452'),
 ObjectId('5f95bc0fb207a563b6c85453'),
 ObjectId('5f95bc0fb207a563b6c85454'),
 ObjectId('5f95bc0fb207a563b6c85455'),
 ObjectId('5f95bc0fb207a563b6c85456'),
 ObjectId('5f95bc0fb207a563b6c85457'),
 ObjectId('5f95bc0fb207a563b6c85458'),
 ObjectId('5f95bc0fb207a563b6c85459'),
 ObjectId('5f95bc0fb207a563b6c8545a'),
 ObjectId('5f95bc0fb207a563b6c8545b'),
 ObjectId('5f95bc0fb207a563b6c8545c'),
 ObjectId('5f95bc0fb207a563b6c8545d'),
 ObjectId('5f95bc0fb207a563b6c8545e'),
 ObjectId('5f95bc0fb207a563b6c8545f'),
 ObjectId('5f95bc0fb207a563b6c85460'),
 ObjectId('5f95bc0fb207a563b6c85461'),
 ObjectId('5f95bc0fb207a563b6c85462'),
 ObjectId('5f95bc0fb207a563b6c85463'),
 ObjectId('5f95bc0fb207a563b6c85464'),
 ObjectId('5f95bc0fb207a563b6c85465'),
 ObjectId('5f95bc0fb207a563b6c85466'),
 ObjectId('5f95bc0fb207a563b6c85467'),
 ObjectId('5f95bc0fb207a563b6c85468'),
 ObjectId('5f95bc0fb207a563b6c85469'),
 ObjectId('5f95bc0fb207a563b6c8546a'),
 ObjectId('5f95bc0fb207a563b6c8546b'),
 ObjectId('5f95bc0fb207a563b6c8546c'),
 ObjectId('5f95bc0fb207a563b6c8546d'),
 ObjectId('5f95bc0fb207a563b6c8546e'),
 ObjectId('5f95bc0fb207a563b6c8546f'),
 ObjectId('5f95bc0fb207a563b6c85470'),
 ObjectId('5f95bc0fb207a563b6c85471'),
 ObjectId('5f95bc0fb207a563b6c85472'),
 ObjectId('5f95bc0fb207a563b6c85473'),
 ObjectId('5f95bc0fb207a563b6c85474'),
 ObjectId('5f95bc0fb207a563b6c85475'),
 ObjectId('5f95bc0fb207a563b6c85476'),
 ObjectId('5f95bc0fb207a563b6c85477'),
 ObjectId('5f95bc0fb207a563b6c85478'),
 ObjectId('5f95bc0fb207a563b6c85479'),
 ObjectId('5f95bc0fb207a563b6c8547a'),
 ObjectId('5f95bc0fb207a563b6c8547b'),
 ObjectId('5f95bc0fb207a563b6c8547c'),
 ObjectId('5f95bc0fb207a563b6c8547d'),
 ObjectId('5f95bc0fb207a563b6c8547e'),
 ObjectId('5f95bc0fb207a563b6c8547f'),
 ObjectId('5f95bc0fb207a563b6c85480'),
 ObjectId('5f95bc0fb207a563b6c85481'),
 ObjectId('5f95bc0fb207a563b6c85482'),
 ObjectId('5f95bc0fb207a563b6c85483'),
 ObjectId('5f95bc0fb207a563b6c85484'),
 ObjectId('5f95bc0fb207a563b6c85485'),
 ObjectId('5f95bc0fb207a563b6c85486'),
 ObjectId('5f95bc0fb207a563b6c85487'),
 ObjectId('5f95bc0fb207a563b6c85488'),
 ObjectId('5f95bc0fb207a563b6c85489'),
 ObjectId('5f95bc0fb207a563b6c8548a'),
 ObjectId('5f95bc0fb207a563b6c8548b'),
 ...]

In [52]:
# select database
db = client.get_database('wind_solar_data')
# select collection
collection = db.wind_data

# pull collection into dataframe
wind_df = pd.DataFrame(list(collection.find()))
wind_df

,_id,temperature_F,weatherDescription,WindSpeed_mph,WindDirection_degrees,WindDirection_compass,WindGust_mph,Date_Time,MWH
0,5f95bc0fb207a563b6c850a4,35,Clear,12,126,SE,24,2019-01-01 00:00:00,5.009100
1,5f95bc0fb207a563b6c850a5,35,Clear,13,89,E,23,2019-01-01 01:00:00,110.487950
2,5f95bc0fb207a563b6c850a6,35,Clear,14,53,NE,23,2019-01-01 02:00:00,72.020225
3,5f95bc0fb207a563b6c850a7,35,Clear,15,17,NNE,22,2019-01-01 03:00:00,67.639475
4,5f95bc0fb207a563b6c850a8,35,Clear,14,18,NNE,21,2019-01-01 04:00:00,63.718900
...,...,...,...,...,...,...,...,...,...
13868,5f95bc0fb207a563b6c886d0,82,Patchy rain possible,8,104,ESE,11,2020-07-31 19:00:00,10.764125
13869,5f95bc0fb207a563b6c886d1,82,Patchy rain possible,8,78,ENE,12,2020-07-31 20:00:00,4.998600
13870,5f95bc0fb207a563b6c886d2,82,Patchy rain possible,7,52,NE,13,2020-07-31 21:00:00,16.390275
13871,5f95bc0fb207a563b6c886d3,82,Patchy rain possible,7,55,NE,13,2020-07-31 22:00:00,20.637800
13872,5f95bc0fb207a563b6c886d4,82,Patchy rain possible,7,58,ENE,14,2020-07-31 23:00:00,13.998975